.content {
  background: #0077c0 url("../../assets/imgs/grafismo_fundo.svg") no-repeat;
  background-size: 281% 107%;
  background-position: 90% 75%;
}

.logo {
  width: 150px;
  height: 33px;
  margin-top: 58px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h1 {
  width: 287px;
  height: 25px;
  font-family: EffraMedium;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

p {
  width: 290px;
  height: 29px;
  font-family: Effra;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
  margin-top: 110px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.button {
  width: 290px;
  height: 50px;
  border-radius: 5px;
  background: transparent;
  border: 1px solid white;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.text-button {
  width: 53px;
  height: 15px;
  font-family: Effra;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}


.text-input {
  width: 131px;
  height: 16px;
  font-family: Effra;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.label .label-ios{
    color: white;
}

.item-input-has-focus .label-ios[floating], .input-has-focus .label-ios[floating], .item-input-has-value .label-ios[floating], .input-has-value .label-ios[floating]{
    -webkit-transform: translate3d(0, 0, 0) scale(0.8);
    transform: translate3d(0, 0, 0) scale(0.8);
    color: yellow;
    
}


.label {
  background-color: transparent !important;
}
